force-app/main/default/flows/Create_Episode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>SeasonList</name>
        <dataType>String</dataType>
        <displayField>Number__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tv_Serie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TvSeriesList</elementReference>
            </value>
        </filters>
        <object>Season__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TvSeriesList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Tv_Serie__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Episode {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Episode</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Episode</name>
        <label>Save Episode</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number__c</field>
            <value>
                <elementReference>Number_of_Episode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Season__c</field>
            <value>
                <elementReference>SeasonList</elementReference>
            </value>
        </inputAssignments>
        <object>Episode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_Episode</name>
        <label>Create Episode</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Episode</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Episode</name>
            <dataType>Number</dataType>
            <fieldText>Number of Episode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Season</name>
            <choiceReferences>SeasonList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Season</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TvSerieChoosen</name>
        <label>TvSerieChoosen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Episode</targetReference>
        </connector>
        <fields>
            <name>PickTvSerie</name>
            <choiceReferences>TvSeriesList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Tv Serie</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TvSerieChoosen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
