force-app/main/default/flows/Create_Season.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>ChoiceToAdd</name>
        <choiceText>Do you want add next {!Yes} ?</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Yes</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Create_New_Episode</name>
        <label>Create New Episode</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Episode.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Episode</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Episode.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CreateSeason</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Tv_Serie__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListTvSeries</name>
        <dataType>String</dataType>
        <displayField>Tv_Serie__c</displayField>
        <object>Season__c</object>
    </dynamicChoiceSets>
    <interviewLabel>Create Season {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Season</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Episode</name>
        <label>Save Episode</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>Description__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Number__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Season__c</field>
            <value>
                <elementReference>Save_Season</elementReference>
            </value>
        </inputAssignments>
        <object>Episode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Save_Season</name>
        <label>Save Season</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Thanks</targetReference>
        </connector>
        <inputAssignments>
            <field>Number__c</field>
            <value>
                <elementReference>Number_of_Season</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tv_Serie__c</field>
            <value>
                <elementReference>Tv_Series</elementReference>
            </value>
        </inputAssignments>
        <object>Season__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_Episode</name>
        <label>Create Episode</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Episode</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Episode</name>
            <dataType>Number</dataType>
            <fieldText>Number of Episode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Season</name>
        <label>Create Season</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Season</targetReference>
        </connector>
        <fields>
            <name>Tv_Series</name>
            <choiceReferences>CreateSeason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tv Series</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Season</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Number of Season</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thanks</name>
        <label>Thanks</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Episode</targetReference>
        </connector>
        <fields>
            <name>Display_Thanks</name>
            <fieldText>&lt;p&gt;Thank you for your help  &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.FirstName} &lt;/span&gt;and great work.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We need more help, maybe you will help as and you will add new Episode.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Episode</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Season</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>TvSerieId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tv_Serie__c</objectType>
    </variables>
</Flow>
