force-app/main/default/flows/Create_Tv_Serie.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>CategoryPickList</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Tv_Serie__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RatePIckList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rate__c</picklistField>
        <picklistObject>Tv_Serie__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Tv Serie {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tv Serie</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SaveRecord</name>
        <label>SaveRecord</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Thanks</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>CategoryPickList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Directors__c</field>
            <value>
                <elementReference>Directors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logo_url__c</field>
            <value>
                <elementReference>LogoUrl.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premiere__c</field>
            <value>
                <elementReference>Premiere</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate__c</field>
            <value>
                <elementReference>RatePIckList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer__c</field>
            <value>
                <elementReference>Trailer.value</elementReference>
            </value>
        </inputAssignments>
        <object>Tv_Serie__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_Tv_Serie</name>
        <label>Create Tv Serie</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SaveRecord</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Directors</name>
            <dataType>String</dataType>
            <fieldText>Directors</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Category</name>
            <choiceReferences>CategoryPickList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rate</name>
            <choiceReferences>RatePIckList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Premiere</name>
            <dataType>Date</dataType>
            <fieldText>Premiere</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Trailer</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Trailer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LogoUrl</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Logo Url</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thanks</name>
        <label>Thanks</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Additional</name>
            <fieldText>&lt;p&gt;Thank you for added new Tv Serie.&lt;/p&gt;&lt;p&gt;{!Name} is great!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Tv_Serie</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
